#Ignore virtual environment folder
.venv/
venv/
ENV/

# Ignore sensitive environment files
.env
*.env

# Ignore test reports and HTML outputs
Reports/
*.html

# Ignore all screenshots
Screenshots/

# Ignore application and test runtime logs
Logs/
*.log


#Ignore Python cache and compilation files
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.cache/

# Ignore IDE specific settings files (VS Code / PyCharm)
.vscode/
.idea/

